.cover__subtitle {
    max-width: 360px;
    margin: 32px auto 0;
    font-family: 'Inter', 'arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    white-space: pre-line;
    color: #ffffff;
    z-index: 2;
    position: relative;

}


@media screen and (max-width: 767px) {

    .cover__subtitle {
        margin: 16px 0 auto;
        font-size: 14px;
        line-height: 16px;
    }
}