.place__website-link {
    max-width: 456px;
    height: 22px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
}


.place__website-link:hover {
    opacity: 0.8;
}