.place__website_url-heading {
    margin-bottom: 12px;
    max-width: 456px;
    height: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}