.cover__background {
    position: relative;
    max-width: 1184px;
    min-height: 740px;
    background-image: url(../../../images/__background.png);
    background-size: 100% 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover__background::before {
    background: #2A2C2F;
    opacity: 0.3;
    content: "";
    position: absolute;
    transition: opacity 3s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.cover__background:hover::before {
    opacity: 0.8;
    transition: 3s;
}

@media screen and (max-width: 1279px) {

    .cover__background {
        max-width: 1024px;
        min-height: 640px;
    }

}

@media screen and (max-width: 1023px) {

    .cover__background {
        max-width: 768px;
        min-height: 480px;
    }

}

@media screen and (max-width: 767px) {

    .cover__background {
        max-width: 320px;
        min-height: 200px;
    }
}